<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @review.note %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Author:</strong>
  <%= @review.author %>
</p>

<p>
  <strong>Film:</strong>
  <%= link_to @review.film, @review.film %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
